/*allgemein*/

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:rgb(22,27,44); 
}

/*Homescreen*/

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(26, 33, 57, 0.7),rgba(26, 33, 57,0.7)), url(images/Background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 2.5%;
    justify-content: space-between;
    align-items: center;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: #bbb2e9;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.links ul li ::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgba(255,255,255,0.849);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li :hover::after{
    width: 100%;
}
button{
    color: rgba(255,255,255,0.849);
    padding: 10 px 25px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.849);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-family: sans-serif;
    width: 133px;
    transition-duration: 0.4s;
}
.text-box{
    color: #bbb2e9;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 2;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 800;
}

/*Task Box*/

#ContentBox{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px ;
    
}
.TaskBox{
    background-color: rgba(187,178,233, 0.975);
    border-radius: 20px;
    max-width: 900px;
    padding-left: 25px;
    padding-right: 25px;
    position: center;
    margin-top: 150px;
}
h2{
    color: rgb(22,27,44);
    font-family: sans-serif;
    margin-top: 12px;
    font-size: 27.5px;
}
p{
    color: rgb(22,27,44);
    font-size: 17px;
    line-height: 22px;
    font-family: sans-serif;
    margin-bottom: 15px;
    margin-top: 5px;
}

/*Projekt Umfeld*/

h3{
    color: rgb(187,178,233);
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 27.5px;
}
.projektumfeld{
    margin-top: 30px;
}
.umfeld ul{
    margin-top: 10px;
}
.umfeld ul li {
    margin-left: calc(50% - 410px) ;
    color: rgba(255,255,255,0.849);
    font-size: 17px;
    line-height: 22px;
    font-family: sans-serif;
    margin-top: 5px;
}

/*Team*/

.TeamBox {
    font-family: sans-serif;
    margin-top: 50px;
}
.container {
    position: relative;
    height: 360px;
    width: 950px;
    padding-top: 35px;
    left: calc(50% - 410px);
    display: flex;
}
.card {
    display: flex;
    height: 310px;
    width: 200px;
    background-color: #2d2838;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.33);
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    
}
.card:not(:first-child) {
      margin-left: -50px;
}
.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}
.title {
    color: white;

    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}
.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}
.emptybar {
    background-color: #3b3349;
    width: 100%;
    height: 100%;
    position: absolute;
}
.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: linear-gradient(90deg, rgb(99, 78, 203) 0%, rgba(187,178,233,1) 65%, rgba(187,178,233,1) 100%);
    transition: 0.4s ease-out;
}
.card:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-out;
}
.avatar {
    position: absolute;
    top: 130px;
    left: calc(50% - 75px);
}
.avatar img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}


/*Planung*/
.Plannung{
    max-width: 975px;
    margin-left: auto;
    margin-right: auto; 
}
.Trello h4{
    color: rgb(187,178,233);
    font-family: sans-serif;
    margin-top: 30px;
    font-size: 25px;
}
.Trello p {
    color: rgba(255,255,255,0.849);
    font-size: 17px;
    line-height: 25px;
    font-family: sans-serif;
    margin-top: 5px;
}
.Trello a{
    color:#bbb2e9;
}
.Trello img{
    margin-top: 10px;
    border-radius: 20px;
    max-width: 950px;
    position: center;
    margin-bottom: 30px;
}
.GitHub h4{
    color: rgb(187,178,233);
    font-family: sans-serif;
    margin-top: 30px;
    font-size: 25px;
}
.GitHub p {
    color: rgba(255,255,255,0.849);
    font-size: 17px;
    line-height: 25px;
    font-family: sans-serif;
    margin-top: 5px;
}
.GitHub a{
    color:#bbb2e9;
}
.GitHub img{
    margin-top: 10px;
    border-radius: 20px;
    max-width: 950px;
    position: center;
}